@model IEnumerable<Backend5.Models.HospitalDoctor>

@{
    ViewData["Title"] = "Index";
}

<h2>Doctors</h2>

<p>
    <a asp-action="Create" asp-route-hospitalId="@ViewBag.Hospital.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { hospitalId = item.HospitalId, doctorId = item.DoctorId })
            </td>
        </tr>
}
    </tbody>
</table>
